<?xml version="1.0" encoding="utf-8"?>
<manifest
    package = "com.aya.bicycle006"
    xmlns:android = "http://schemas.android.com/apk/res/android">

    <uses-permission android:name = "android.permission.INTERNET" />
    <uses-permission android:name = "android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name = "android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name = "android.permission.READ_PHONE_STATE" />
    <uses-permission android:name = "android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name = ".App"
        android:allowBackup = "true"
        android:icon = "@mipmap/ic_launcher"
        android:label = "@string/app_name"
        android:supportsRtl = "true"
        >

        <activity
            android:name = ".ui.activity.MainActivity"
            android:configChanges = "keyboardHidden|orientation|screenSize"
            android:label = "@string/app_name"
            android:screenOrientation = "portrait"
            android:theme = "@style/AppTheme.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name = "android.intent.action.MAIN" />-->

            <!--<category android:name = "android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name = ".ui.activity.NewsActivity"
            android:configChanges = "keyboardHidden|orientation|screenSize"
            android:screenOrientation = "portrait"
            android:theme = "@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name = "android.intent.action.MAIN" />
                <category android:name = "android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name = ".ui.activity.MangaActivity"
            android:configChanges = "keyboardHidden|orientation|screenSize"
            android:screenOrientation = "portrait"
            android:theme = "@style/AppTheme.NoActionBar" />
        <activity
            android:name = ".ui.activity.GankItemActivity"
            android:configChanges = "keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated = "true"
            android:screenOrientation = "portrait"
            android:theme = "@style/AppTheme.NoActionBar" />
        <activity
            android:name = ".ui.activity.ImageItemActivity"
            android:configChanges = "keyboardHidden|orientation|screenSize"
            android:screenOrientation = "portrait"
            android:theme = "@style/AppTheme.NoActionBar" />
        <activity
            android:name = ".ui.activity.WebActivity"
            android:configChanges = "keyboardHidden|orientation|screenSize"
            android:screenOrientation = "portrait"
            android:theme = "@style/AppTheme.NoActionBar" />
        <activity
            android:name = ".ui.activity.BIliBiliDetailActivity"
            android:screenOrientation = "portrait"
            android:theme = "@style/AppTheme.NoActionBar" />


        <meta-data
            android:name = "CHANNEL"
            android:value = "${CHANNEL_VALUE}" />

        <!-- -->
        <meta-data
            android:name = "com.aya.bicycle006.MGlideModule"
            android:value = "GlideModule" />
    </application>

</manifest>
